<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.class' />
  </head>
  <body>
    <h1>Title</h1>
    <p class="text-3xl text-red-500">Welcome to <%= title %></p>
  </body>
</html>
