<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ny produkt</title>
    <link rel="stylesheet" href="/stylesheets/newProduct.css">
    <script src="/javascripts/newProduct.js" defer></script>
</head>
<body>
    <header id="admin-header">
        <h1>
            Administration
        </h1>
    </header>
    <div class="sidebar">
        <h2>Produkter</h2>
        <!-- Sidebar content goes here -->
    </div>
    <div class="main-header">
        <h2>Ny produkt</h2>
    </div>
    <div class="form-container">
        <form id="new-product-form">
            <label for="name">Namn</label>
            <input type="text" id="name" name="name" placeholder="Ange namn" maxlength="50" required autocomplete="name" required><br><br>

            <label for="description">Beskrivning</label>
            <textarea id="description" name="description" placeholder="Ange beskrivning" required></textarea><br><br>

            <label for="image">Bild (URL)</label>
            <input type="text" id="image" name="image" accept=".png, .jpeg, .jpg" placeholder="Ange bild-URL" required><br><br>
            
            <label for="brand">Märke</label>
            <input type="text" id="brand" name="brand" placeholder="Ange varumärke" required><br><br>

            <label for="sku">SKU (Format: XXXYYY):</label>
            <input type="text" id="sku" name="sku" pattern="[A-Za-z]{3}[0-9]{3}" placeholder="Ange SKU    t.ex. ABC123" required><br><br>

            <label for="price">Pris (SEK):</label>
            <input type="number" id="price" name="price" step="0.01" placeholder="199" required><br><br>

            <label for="publishingDate">Publiseringsdatum</label>
            <input type="date" id="publishingDate" name="publishingDate" min="2023-10-01" required><br><br>

            <input type="submit" value="Lägg till">
        </form>
    </div>
    
</body>
</html>